/node_modules
/public/hot
/public/storage/debugbar
/public/storage/framework
/public/storage/oauth-private.key
/public/storage/logs
/public/storage/oauth-public.key
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
static/*
